/* body {
    margin: 0;
    font-family: Arial, sans-serif;
    position: relative;
    min-height: 100vh;
    background-color: #f8f5ee;
}

body::before {
    content: "";
    position: fixed;
    inset: 0;
    background-image: url('/assets/background.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 0.7;
    z-index: -1;
} */

/* Login page background */
/* body.login-page::before {
    background-image: url('/assets/loginbackground.png');
    opacity: 0.9;
} */


body {
    margin: 0;
    overflow-x: hidden;
    position: relative;
}


html {
  scroll-behavior: smooth;
}

